<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Chat Dashboard</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="../css/component.css" />
<script src="http://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"> </script>
<link rel="stylesheet" href="../css/w3.css" />
<script th:inline="javascript">
  $(document).ready(function() {
    $( '#tabs' ).tabs();
  });
</script>
<style th:inline="text">
.tabs {
	margin-top: 50px;
}

.repair {
	position: absolute;
	width: 90px;
	height: auto;
	margin-top: 0px;
	margin-right: 65px;
	top: 0;
	right: 0;
}

.signout {
	position: absolute;
	width: 70px; height : auto;
	margin-top: 10px;
	margin-right: 10px;
	top: 0;
	right: 0;
	height: auto;
}
</style>
</head>
<body>

	<img class="signout" src="../img/signout.png" th:onclick="'javascript'" />
	<img class="repair" src="../img/repair.png" th:onclick="'javascript'" />

	<button id="addButton" type="button" th:onclick="'javascript:'">TEST</button>

	<div class="tabs" id="tabs">
		<ul>
			<li><a href="#tabs-1">Lobby</a></li>
			<tr th:each="chatroom : ${dummy}">
				<li><a th:id="'tab' + ${chatroom.chatroomid}"
					th:href="'#' + ${chatroom.chatroomid}"
					th:text="${chatroom.chatroomid}"
					th:onclick="'javascript:testBut(' + ${chatroom.chatroomid} + ');'"></a></li>
			</tr>
		</ul>

		<div class="tab-content">
			<div id="tabs-1">
				<table>
					<tr>
						<th>Chatroom Name</th>
					</tr>
					<tr th:each="chatroom1 : ${chatrooms}">
						<td th:text="${chatroom1.chatroomname}">Default</td>
					</tr>
				</table>
			</div>
			<tr th:each="dum: ${dummy}">
				<div th:id="${dum.chatroomid}">
					<table th:id="${dum.chatroomid}+'table'">
						<td th:text="${dum.chatroomname}">Default</td>
					</table>
				</div>
			</tr>
		</div>
	</div>

	<script th:inline="javascript">
var tabs = $( "#tabs" ).tabs();
var ul = tabs.find( "ul" );

function addMessage(id, data) {
	var element = document.getElementById(id);
	$("<tr> <td>" + data + "</td> </tr>").appendTo(element);
};

function testBut(id) {

	var element = document.getElementById(id + 'table');
	while (element.rows.length > 0) {
		element.deleteRow(0);
	}

	addMessage(id + 'table', "THIS IS");
	addMessage(id + 'table', "SPARTAA");
		
};

$('#addButton').click(function() {
	addMessage("9table", "SPARTA!!");
});

$('.signout').click(function() {
	$.post("signout", {
	})
	.done(function( data, textStatus, xhr ) {
		swal({
			title: "OK",
			text: "Sign out",
			type: "success"
		},
		function() {
			window.location.replace("http://10.10.44.71:9090/");
		});
	})
	
	.fail(function( data, textStatus, xhr ) {
		sweetAlert("ERROR!", data.responseText, textStatus);
	});
});
</script>
</body>
</html>