<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Chat Dashboard</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"> </script>
<link rel="stylesheet" href="../css/dashboard_main.css" />
<link rel="stylesheet" href="../css/tooltipster.bundle.css" />
<script src="../js/tooltipster.bundle.js"></script>
<script th:inline="javascript">
  $(document).ready(function() {
    $( '#tabs' ).tabs();
  });
</script>

</head>
<body style="background-color: #8DC26F;">
	<p class="welcome" style="font-size:30px" th:text="'Welcome!  ' + ${nickname}" th:unless="${nickname == null}">[...]</p>
	<input type="hidden" id="mynickname" th:value="${nickname}"/>
	<!--  	<button id="TEST" type="button">TEST</button> -->
	<!-- Modal -->
	<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Create New Chatroom
					</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="chatroom">Chatroom Name</label> <input type="text"
								id="chatroomname" class="form-control" name="chatroomname"
								placeholder="chatroomname" />
						</div>
						<button id="createchatroom" type="button" class="btn btn-default"
							th:onclick="'javascript'">Create Chatroom</button>
					</form>

				</div>

				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="putNameModal" tabindex="-1" role="dialog"
		aria-labelledby="putNameModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="putNameModal">Change Nickname</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="chatroom">New Nickname...</label> <input type="text"
								id="nickname" class="form-control" name="nickname"
								placeholder="Nickname must be alphanumeric" />
						</div>
						<button id="nicknamechange" type="button" class="btn btn-default"
							th:onclick="'javascript'">Change</button>
					</form>
				</div>

				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Whisper Container -->
	<div class="modal fade" id="whisper-modal" tabindex="-1" role="dialog"
		aria-labelledby="whisper-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="whisper-modal">Whispers</h4>
					<br></br>
					<button type="button" class="btn btn-default" th:onclick="'javascript:refreshWhisper()'">Refresh</button>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="comment">::Private chats::</label>
							<textarea id="whisperarea" disabled="disabled" class="form-control" rows="10"></textarea>
						</div>
						
						<div class="form-group">
							<input type="hidden" id="receiverid" value=""/>
							<input type="hidden" id="senderid" value=""/>
							<input type="hidden" id="chatroomidwhisper" value=""/>
							<input type="hidden" id="sendernickname" value=""/>
							<label for="chatroom">Message</label> <input type="text"
								id="whisper-form" class="form-control" name="nickname"
								placeholder="for private chat..." />
						</div>
						
						<button id="send-whisper" type="button" class="btn btn-default"
							th:onclick="'javascript:sendwhisper()'">Send</button>
						
					</form>
				</div>

				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Whisper Container -->


	<img class="signout" src="../img/signout.png" role="button"
		th:onclick="'javascript'" />
	<a href="#putNameModal" role="button" data-toggle="modal"> <img
		class="putname" src="../img/repair.png" /></a>
	<a href="#myModalNorm" role="button" data-toggle="modal"> <img
		class="create" src="../img/plus.png" /></a>

	<div class="tabs" id="tabs">
		<ul>
			<li><a href="#tabs-1" th:id="lobby">Lobby</a></li>
			<tr th:each="chatroom : ${ownchatrooms}">
				<li><a th:id="'tab' + 'chatroom' + ${chatroom.chatroomid}"
					th:href="'#' + 'chatroom'+ ${chatroom.chatroomid}"
					th:text="${chatroom.chatroomname}"
					th:onclick="'javascript:getMessages(this.id)'"></a><span
					class='ui-icon ui-icon-close'></span></li>
			</tr>
		</ul>

		<div class="tab-content">
			<div id="tabs-1" style="magrin: 100 auto;">
				<div style="float: left; width: 40%;">
					<table class="table" style="table-layout: fixed">
						<thead class="bg-info">
							<tr>
								<th>Chatroom Name</th>
							</tr>
						</thead>
						<tr th:each="chatroom : ${chatrooms}" class="bg-success">
							<td class="forRight" th:id="'c' + ${chatroom.chatroomid}"
								th:text="${chatroom.chatroomname}"
								th:onclick="|javascript:joinChatroom(this.id)|">Default</td>
						</tr>
					</table>
				</div>
				<div style="float: left; width: 40%;">
					<table class="table" style="table-layout: fixed">
						<thead class="bg-info">
							<tr>
								<th>Joined Chatroom</th>
							</tr>
						</thead>
						<tr th:each="ownchatroom : ${ownchatrooms}" class="bg-success">
							<td th:id="'ownchatroom' + ${ownchatroom.chatroomid}"
								th:text="${ownchatroom.chatroomname}"
								th:onclick="'javascript:seeJoiner(&quot;' + ${ownchatroom.chatroomname} + '&quot;, this.id)'">Default</td>
						</tr>
					</table>
				</div>
				<div style="float: left; width: 20%;">
					<table class="table" style="table-layout: fixed">
						<thead class="bg-info">
							<tr>
								<th>Users</th>
							</tr>
						</thead>
						<tr th:each="user : ${users}" class="bg-success">
							<td th:id="'user' + ${user.userid}" th:text="${user.nickname}">Default</td>
						</tr>
					</table>
				</div>
			</div>
			<tr th:each="chatroom: ${ownchatrooms}">
				<div th:id="'chatroom' + ${chatroom.chatroomid}">
					<table th:id="${chatroom.chatroomid} + 'table'">
						<button id="chatroomuser" type="button" class="btn btn-default"
							th:onclick="'javascript:seeJoiner(&quot;' + ${chatroom.chatroomname} + '&quot;, '+ ${chatroom.chatroomid} + ')'">Users</button>
						<form name="message">
							<input name="submitmsg" type="button"
								th:id="${chatroom.chatroomid}"
								th:onclick="|javascript:sendMessage(this.id)|"
								class="btn btn-default" value="Send"/> <input name="msg"
								type="text" class="form-control"
								th:id="'msg' + ${chatroom.chatroomid}" size="80" />
						</form>
					</table>
				</div>
			</tr>
		</div>
	</div>
	<script th:inline="javascript">

var tabs = $( "#tabs" ).tabs();
var ul = tabs.find( "ul" );

tabs.on( "click", "span.ui-icon-close", function() {
    var panelId = $( this ).closest( "li" ).remove().attr( "aria-controls" );
    quitChatroom(panelId);
    $( "#" + panelId ).remove();
    tabs.tabs( "refresh" );
});

function sendMessage(id) {
	var message = document.getElementById('msg' + id).value;
	$.post("chatrooms/" + id + "/messages", {
		messagebody: message
	})
	.done(function( data, textStatus, xhr ) {
		addMessage(id, "** " + data.sendernickname + " **    " + data.messagebody, data.senderid, data.receiverid, data.sendernickname);
	})
	.fail(function( data, textStatus, xhr ) {
		if (data.responseText == 'Session is end!') {
			sessionEnd();
		} else {
			sweetAlert("ERROR!", data.responseText, textStatus);
		}
	});
};

function quitChatroom(id) {
	$.ajax({
	url: 'chatrooms/' + id.substring(8),
	type: 'DELETE'
	});
};

function seeJoiner(chatroomname, id) {
	var chatroomname = chatroomname;
	var chatroomid = id;
	if (id.length > 9) 
		chatroomid = id.substring(11);
	$.ajax({
		url: 'chatrooms/' + chatroomid + '/users',
		type: 'GET'
		})
		.done(function( data ) {
			var result = "";
			$.each(data, function(i, item) {
				if (item.nickname != null)
					result += item.nickname + " ";
			});
			sweetAlert(chatroomname + ' :: Users', result);
		})
		.fail(function( data, textStatus, xhr) {
			if (data.responseText == 'Session is end!') {
				sessionEnd();
			} else {
				sweetAlert("ERROR!", data.responseText, textStatus);
			}
		});
};

function getMessages(id) {
	var chatroomid = id.substring(11);

	var element = document.getElementById(chatroomid + 'table');
	while (element.rows.length > 0) {
		element.deleteRow(0);
	}
	
	$.ajax({
		url: 'chatrooms/' + chatroomid + '/messages',
		type: 'GET'
	})
	.done(function( data, textStatus, xhr ) {
		$.each(data, function(i, item) {
			addMessage(chatroomid, "** " + item.sendernickname + " **    " + item.messagebody, item.senderid, item.receiverid, item.sendernickname);
		});
	});
};

function joinChatroom(id) {
	$.post("chatrooms/" + id.substring(1) + "/users", {
	})
	
	.done(function( data, textStatus, xhr ) {
		makeNewTab(data);
		makeNewTable(data);
		swal({
			title: "OK",
			text: "Join Chatroom Success",
			type: "success"
		})
	})
	.fail(function( data, textStatus, xhr ) {
		if (data.responseText == 'Session is end!') {
			sessionEnd();
		} else {
			sweetAlert("ERROR!", data.responseText, textStatus);
		}
	});
};

function addMessage(id, data, senderid, receiverid, nickname) {
	var element = document.getElementById(id + 'table');
	
	$('<tr> <td><a class="for-whisper" href="#whisper-modal" role="button" data-nickname="' + nickname + '" data-senderid="' + senderid + '" data-receiverid="' + receiverid + '" data-chatroomid="' + id + '" data-toggle="modal">' + data + '</a> </td> </tr>').appendTo(element);
};

function refreshWhisper() {
	var element = $('#whisper-modal');
	
	var chatroomid = $('#chatroomidwhisper').val();
	var senderid = $('#senderid').val();
	var receiverid = $('#receiverid').val();
	var sendernickname = $('#sendernickname').val();
	var element = $("#whisperarea");
	element.val("");
	$.ajax({
		url: 'chatrooms/' + chatroomid + '/messages/whisper',
		type: 'GET'
	})
	.done(function( data, textStatus, xhr ) {
		$.each(data, function(i, item) {
			addWhisper(chatroomid, "** " + item.sendernickname + " **    " + item.messagebody, item.senderid, item.receiverid);
		});
	});
}

$(document).on("click", ".for-whisper", function() {
	var chatroomid = $(this).data('chatroomid');
	var senderid = $(this).data('senderid');
	var receiverid = $(this).data('receiverid');
	var sendernickname = $(this).data('nickname');
	$(".modal-body #receiverid").val(receiverid);
	$(".modal-body #senderid").val(senderid);
	$(".modal-body #chatroomidwhisper").val(chatroomid);
	$(".modal-body #sendernickname").val(sendernickname);
	var element = $("#whisperarea");
	element.val("");
	
	$.ajax({
		url: 'chatrooms/' + chatroomid + '/messages/whisper',
		type: 'GET'
	})
	.done(function( data, textStatus, xhr ) {
		$.each(data, function(i, item) {
			addWhisper(chatroomid, "** " + item.sendernickname + " **    " + item.messagebody, item.senderid, item.receiverid);
		});
	});
	$('#whisper-modal').modal('show');
});

function addWhisper(id, data, senderid, receiverid) {
	var element = $("#whisperarea");
	element.val(element.val() + data + '\n');
	element.scrollTop(element[0].scrollHeight - element.height());
};


function postWhisper(id, data, senderid, receiverid) {
	$.post("chatrooms/" + id + "/messages", {
		messagebody: data,
		receiverid: senderid
	})
	.done(function( data, textStatus, xhr ) {
		addWhisper(data.chatroomid, "** " + data.sendernickname + " **    " + data.messagebody);
	})
	.fail(function( data, textStatus, xhr ) {
		if (data.responseText == 'Session is end!') {
			sessionEnd();
		} else {
			sweetAlert("ERROR!", data.responseText, textStatus);
		}
	});
};


function sendwhisper() {
	var whisper = $('#whisper-form').val();
	var receiverid = $('#receiverid').val(); <!-- Not use -->
	var chatroomid = $('#chatroomidwhisper').val();
	var senderid = $('#senderid').val();
	var sendernickname = $('#sendernickname').val();
	var nickname = $('#mynickname').val();
	postWhisper(chatroomid, whisper, senderid, receiverid);
};

function makeNewTable(data) {
	var element = document.getElementById('chatroom' + data.chatroomid);
	/*<![CDATA[*/
	var temp = 'onclick="javascript:seeJoiner(&quot;' + data.chatroomname + '&quot;, ' + data.chatroomid + ')"';
	$('<button id="chatroomuser" type="button" class="btn btn-default" ' + temp + '>Users</button>').appendTo(element);
	$('<input name="submitmsg" type="button" id="' + data.chatroomid + '" onclick="javascript:sendMessage(this.id)" class="btn btn-default" value="Send"/>').appendTo(element);
	$('<input name="msg" type="text" id="msg' + data.chatroomid + '" size="80" class="form-control"/>').appendTo(element);
	$('<table id="' + data.chatroomid + 'table"/>').appendTo(element);
	/*]]>*/
}

function makeNewTab(data) {
    $('div#tabs ul').append(
        '<li class="tab"><a href="#chatroom' + data.chatroomid + '">' + data.chatroomname + '</a> <span class="ui-icon ui-icon-close"></span> </li>');
    $('div#tabs').append(
        '<div id="chatroom' + data.chatroomid + '"></div>');
    $('#tabs').tabs("refresh");
};

function insertContent(content) {
    var activeTab = $("#tabs").tabs('option', 'active');   
    activeTab += 1;   
    $("#tab-" + activeTab).append(content);
}

$('#createchatroom').click(function() {
	var chatroomname = $('#chatroomname').val();				

	$.post("chatrooms", {
		chatroomname: chatroomname
	})
	.done(function( data, textStatus, xhr ) {
		makeNewTab(data);
		makeNewTable(data);
		swal({
			title: "OK",
			text: "Create Chatroom Success",
			type: "success"
		})
	})
	.fail(function( data, textStatus, xhr ) {
		if (data.responseText == 'Session is end!') {
			sessionEnd();
		} else {
			sweetAlert("ERROR!", data.responseText, textStatus);
		}
	});
});

function sessionEnd() {
	swal({
		title: "Error",
		text: "Session is end! return to Login",
		type: "error"
	},
	function() {
		window.location.replace("http://10.10.44.71:9090/");
	});
};

$('#nicknamechange').click(function() {
	var nickname = $('#nickname').val();				
	$.ajax({
		type: 'PUT',
		url: 'users/' + nickname,
	})
	.done(function( data, textStatus, xhr ) {
		swal({
			title: "OK",
			text: "Nickname changed successfully to " + data.nickname,
			type: "success"
		})
	})
	.fail(function( data, textStatus, xhr ) {
		if (data.responseText == 'Session is end!') {
			sessionEnd();
		} else {
			sweetAlert("ERROR!", data.responseText, textStatus);
		}
	});
});

$('.signout').click(function() {
	$.post("signout", {
	})
	.done(function( data, textStatus, xhr ) {
		swal({
			title: "OK",
			text: "Sign out",
			type: "success"
		},
		function() {
			window.location.replace("http://10.10.44.71:9090/");
		});
	})
	.fail(function( data, textStatus, xhr ) {
		sweetAlert("ERROR!", data.responseText, textStatus);
	});
});
</script>
</body>
</html>